<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantilla/plantilla :: head"></head>
<body>
<header th:replace="plantilla/plantilla :: header"></header>
<div class="container text-center">
    <h1 class="text-secondary border border-succes border-top-0"
        th:text="${titulo}"/><br/>
    <div class="card">
      <div class="card-body">
        <form th:action="@{/direcciones/forminsertar}" th:object=${direccion} method="post">
          <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            Verifique los siguientes errores:
            <ul>
              <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form group">
                <label for="calle">Calle</label>
                <input type="text" class="form-control" th:field="*{calle}" id="calle" name="calle"
                       placeholder="Calle de la Dirección" required="required">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form group">
                <label for="ciudad">Ciudad</label>
                <input type="text" class="form-control" th:field="*{ciudad}" id="ciudad" name="ciudad"
                       placeholder="Ciudad de la Dirección" required="required">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form group">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" th:field="*{estado}" id="estado" name="estado"
                       placeholder="Estado de la Dirección" required="required">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form group">
                <label for="codigo_postal">Codigo Postal</label>
                <input type="text" class="form-control" th:field="*{codigo_postal}" id="codigo_postal" name="codigo_postal"
                       placeholder="Codigo Postal de la Dirección" required="required">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form group">
                <label for="cliente.id_cliente">Id Cliente</label>
                <input type="text" class="form-control" th:field="*{cliente.id_cliente}" id="cliente.id_cliente" name="cliente.id_cliente"
                       placeholder="Id del Cliente" required="required">
              </div>
            </div>
            <div class="col-md-3">
              <br/>
              <button type="submit" class="btn bt-primary">Guardar</button>
            </div>
          </div>
          <input type="hidden" th:field="*{id_direccion}"/>
        </form>
      </div>
    </div>
</div>
<footer th:replace="plantilla/plantilla :: footer"></footer>
</body>
</html>