<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantilla/plantilla :: head"></head>
<body>
<header th:replace="plantilla/plantilla :: header"></header>
<div class="container text-center">
    <h1 class="text-secondary border border-succes border-top-0"
        th:text="${titulo}"/><br/>
    <div class="card">
      <div class="card-body">
        <form th:action="@{/estados/forminsertar}" th:object=${estado} method="post">
          <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            Verifique los siguientes errores:
            <ul>
              <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre"
                       placeholder="Nombre" required="required">
              </div>
            </div>
            <div class="col-md-3">
              <br/>
              <button type="submit" class="btn bt-primary">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
<footer th:replace="plantilla/plantilla :: footer"></footer>
</body>
</html>